
:root {
  /* Primary Brand Color */
  --color-primary: #3A7DFF;
  --color-primary-light: #6AA2FF;
  --color-primary-dark: #1F57C9;

  /* Neutrals */
  --color-bg: #F7F9FC;
  --color-surface: #FFFFFF;
  --color-border: #E2E6EE;

  --color-text-main: #1A1D23;
  --color-text-secondary: #4A4F57;

  /* Accents */
  --color-accent: #00C2A8;
  --color-accent-dark: #009B85;
}

*,*::before,*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.5; 
}

body{
  background-color: var(--color-bg);
  color: var(--color-text-main)
}

.main-sec{
  text-align: center;
  color: var(--color-text-main); 
  font-family: 'Roboto', sans-serif,'Sofia';  
  background:linear-gradient(to right, var(--color-primary-light),var(--color-primary-dark)) ;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: white;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(113, 160, 117);
}